/* Universal selector */
*{
    margin: 0;
    padding: 0;
}
/* Id selector */
#myheading{
    background-color: aqua;
    color: black;
}
/* class selector */
.common{
    background-color: black;
    color: red;
}
.diff{
    font-size: 70px;
}
/* nested selector */
div img{
    height: 300px;
    width: 250px;
}
/* multipal selector */
img,
p,
h1,
.heading{
    text-align: center;
}
.myimg{
    width: 250px;
    height: 300px;
}